*{
    outline: none;
}

body{
    position: relative;
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.page-content{
    margin: auto;
    width: 1000px;
    max-width: calc(100% - 20px);
    padding: 10px;
}

section{
    position: relative;
}