.stat-card{
    width: 200px;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $mainColor;

    & label{
        padding: 10px;
    }

    & p{
        margin: 0;
        padding: 10px;
    }
}

.content-dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;

    & .content-avg {
        & .stat-card {
            margin-top: 20px;
        }
    }

    & .content-chart {
        margin-top: 50px;
        width: 800px;
        height: 800px;
    }
}