header{
    position: sticky;
    top: 0;
    width: calc(100% - 20px);
    background-color: $mainWhite;
    box-shadow: $mainBoxShadow;
    padding: 10px;

    & .header{
        width: 1000px;
        max-width: 100%;
        margin: auto;

        & .header-logo{
            width: 60px;
            fill: $mainColor;
            transition: all $mainTransitionDuration;

            &:hover{
                @include icon-hover;
            }
        }

        & .header-basket{
            width: 30px;
            fill: $mainColor;
            transition: all $mainTransitionDuration;

            &:hover{
                @include icon-hover;
            }
        }
    }
}