.history-content {
    
    .history-card-content {
        width: 80%;
        & .history-card {
            display: flex;
            flex-direction: row;
            background-color: $thirdColor;
            border-radius: $mainBorderRadius;
            border: 1px solid $thirdColor;
            margin: 20px;
            padding-left: 50px;
            padding-right: 50px;
        
            & .history-input {
                flex: 1;
                & p {
                    margin: 8px;
                }
            }
            & .history-button {
                flex: 1;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                    & .button-refund {
                        border: 1px solid black;
                        padding: 10px;
                        border-radius: $mainBorderRadius;
                        background-color: white;
                    }
                    & .button-refund:hover {
                        background-color: lightgray;
                    }
            }
        }
    }
}

