// COLORS
$mainColor: #485A99;
$secondaryColor: #333333;
$mainWhite: #FFFFFF;
$mainShadowColor: #d1d1d1;

// SHADOWS
$mainBoxShadow: 1px -1px 30px $mainShadowColor;

// TRANSITION
$mainTransitionDuration: 0.2s;

// BORDER
$mainBorderRadius: 5px;